*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}

.container{
    /*para afastar da lateral*/
    margin: auto;
    width: 90%;
    /*Por padrão, é bom usar essa max-width pra não distorcer o conteúdo*/
    max-width: 1200px;
}

/*Barra de navegação*/

.barraPrincipal{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    /*Esse puxou os elementos para a esquerda*/
    float: left;
}

.barraPrincipal img{
    /*para formatar a imagem que esta dentro de barra principal*/
    height: 3.55vh;
    padding: 0 12px;
}

.barraPrincipal ul{
    /*tirar a decoração de lista, ai tem que especificar com o ul*/
    list-style: none;
    /*colocar em linha, a lista*/
    display: flex;
    
}

.barraPrincipal a{
    /*tirar a decoração de link, ai tem que especificar com o a*/
    text-decoration: none;
    color: #262626;
    padding-left: 20px;
}

.barraPrincipal div a:hover{
    border-bottom: 2px solid #262626;
}

.barraPrincipal div a:active{
    outline: 1.5px dashed black;
    padding: 15px; 
}

.menuDireito{
    position: absolute;
    padding-right: 40px;
    top: 20px;
    right:30px;
}

.showcase{
    /*Tem que colocar a altura e a largura para a imagem aparecer*/
    display: flex;
    width: 100%;
    height: 440px;
    background: url('/microsoft/img/primeiraImagem.webp') no-repeat center center/cover;
    color: #fff;
    padding: 44px;
    padding-top: 40px;
    align-items: center;
    line-height: 20px;

}

.showcase div{
    /*para delimitar o tamanho do texto*/
    width: 45%;
}

.showcase h2{
    font-size: 22px;
    padding-left: 30px;
}

.showcase p{
    font-size: 15px;
    text-align: justify;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-bottom: 15px;
    padding-left: 30px;
}

.showcase a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #262626;
    background-color: white;
    
    padding: 12px 20px 12px 20px;
    margin-left: 30px;
    max-width: 100%;
    display: inline-block;
}
#botao:hover{
    text-decoration: underline;
    font-size: 15.5px;
    /*Modificar hover*/
}
.links{
    font-weight: bold;
    display: flex;
    width: 98%;
    justify-content: center;
    /*Esse elemento coloca as distâncias entre os elementos*/
    padding: 20px;
}
.links div{
    display: flex;
    margin: 40px 0px 30px 20px;
}
.links a{
    font-size: 15px;
    margin: 5px 18px 0px 60px;
    text-decoration: none;
    color: #262626;
    text-align: center;
    
}
.links img{
    margin: 0px 0px 8px;
}
.links p{
    text-align: center;
}
.cards{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*pra dar o espaçamento entre as colunas*/
    gap:  10px;
    font-size: 15px;
    color: #000000;
    text-align:left;
}
.cards h2{
    font-size: 20px;
}
.cards p{
    padding-right: 20px;
}
.cards div{
    width: 100%;
}
.cards img{
    padding-bottom: 20px;
}
.cards a{
    text-decoration: none;
    color: #0067B8;
    font-size: 15px;
    font-weight: bold;
}
.poster{
    background: url('/microsoft/img/outlookIosAndroid.webp') no-repeat center center/cover;
    display: flex;
    width: 45%;
    width: 100%;
    height: 440px;
    color: black;
    margin-top: 60px;
    align-items: center;
    margin-bottom: 40px;
    padding: 70px;
}
.poster h2{
    font-size: 24px;
}
.poster a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    font-weight: bold;
    color:white;
    background-color: black;
    
    padding: 12px 20px 12px 20px;
    margin-top: 20px;
    
    max-width: 100%;
    display: inline-block;
}
.poster p{
    font-size: 16px;
    margin-top: 10px;
}
.tituloNegocios{
    font-size: 16px;
    font-weight: bolder;
    padding-bottom: 20px;
}
.negocios{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*pra dar o espaçamento entre as colunas*/
    gap:  12px;
    font-size: 15px;
    color: #000000;
    text-align:left;
}
.negocios h2{
    font-size: 20px;
    padding-top: 25px;
    padding-right: 20px;
    
}
.negocios p{
    padding-right: 20px;
}
.negocios a{
    text-decoration: none;
    color: #0067B8;
    font-size: 15px;
    font-weight: bold;
}

/*responsividade*/
@media screen and (max-width: 700px){
    .cards, .negocios{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .links{
        flex-direction: column;
        align-items: center;
    }
    .barraPrincipal ul{
        display: none;
    }
    .barraPrincipal{
        justify-content: center;
    }
    .showcase {
        display: none;
    }
    

}
@media screen and (max-width: 500px) {
    .cards{
        grid-template-columns: 1fr;
    }
 
}