body {
    font-family: Arial, Helvetica, sans-serif;
    size: 40px;
    color: black;
    margin: 10px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(82, 6, 6);
    size: 20px;
    margin: 10px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(100, 23, 23);
}
h3{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(117, 11, 11);
}
.div1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(249, 249, 124);
    margin: 10px;
    padding: 8px;
    border: 2px solid black;
}
.div2{
    font-family: 'Times New Roman', Times, serif;
    background-color: pink;
    margin: 10px;
    padding: 40px;
}
.div3{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(131, 253, 131);
    margin: 10px;
    padding: 20px;
}
a{
    text-decoration: none;
    color: green;
}
a:hover{
    color: yellowgreen;
}
footer{
    background-color: black;
    color: white;
    font-size: 14x;
    margin:10px;
}