*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:fit-content;
    height: fit-content;
    background-color: rgb(8, 8, 8);
    display: grid;
    grid-template-areas: "a1 a2 a3" "b1 b2 b3";
}
.card1 {
    margin: 5px;
    float:left;
    width:200px;
}
.card1:hover{
    border: 1px solid rgb(226, 255, 83);
}
.card1 img {
    width: 100%;
    height: auto;
}
div.descricao {
    padding:10x;
    text-align: center;
    color:rgb(201, 9, 9)
}
#card1{
    grid-area: a1;
}
#card2{
    grid-area: a2;
}
#card3{
    grid-area: a3;
}
#card4{
    grid-area: b1;
}
#card5{
    grid-area: b2;
}
#card6{
    grid-area: b3;
}
